/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section 
{
	display: block;
}

body 
{
	padding-top: 0px;
	padding-bottom: 40px;
	line-height: 1;
	background: #e2e4e1 ;

}    

stripes : [ 
    {
        color: '#b1afa4',
        rotation: 0,
        opacity: 16,
        mode: 'plaid',
        width: 85,
        gap: 65,
        offset: 10
    }
],
bg : '#ffffff'

}

html
{
	/*background: #F7F6F6 url('/static/img/background.png') repeat;*/
  

}

a {color:#333;} 
a:link {color:#333;}      /* unvisited link */
a:visited {color:#333;}  /* visited link */
a:active {color:#333;}

dd
{
/*the default was set to 10 in bootstrap*/
  margin-left: 0px; 
}

ul.inline > li{
  display: inline-block;
  *display: inline;
  padding-right: 0px;
  padding-left: 0px;
  *zoom: 1;
}

.hero-unit2 {
  padding: 10px;
  margin-bottom: 5px;
  line-height: 5px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background: #474747;
  color: #eea676;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

/* Start : Override Bootstrap navigation */
.navbar .brand {
	font-size: 20px;
	cursor: pointer;
	text-shadow: none;
	color: gray;
  font-weight: bold;
  font-family: 'Droid Arabic Kufi', Helvetica, Georgia, serif;
}

.navbar .nav > li > a {
	text-shadow: none;
	font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
         border-radius: 3px;
         font-family: 'Droid Arabic Kufi', Helvetica, Georgia, serif;
}
/* End : Override Bootstrap navigation */



/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #eea676;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #474747; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #474747 0%, #474747 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#474747), color-stop(100%,#474747)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #474747 0%,#474747 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #474747 0%,#474747 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #474747 0%,#474747 100%); /* IE10+ */
  background: linear-gradient(45deg,  #474747 0%,#474747 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#474747',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron h1:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.card {
  display: inline-block;
  background: #fff;
  border: 2px solid #F0F0F0;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.card p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

.card img {
  width: 100%;
  border-right: 1px solid #ccc;
  padding-right: 15px;
  margin-right: 5px;

  padding-bottom: 15px;
  margin-bottom: : 5px;
}

.card:hover .card:not(:hover) {
  opacity: 0.4;
}

div.card:hover,
div.card:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}







