<div class="row">
	<!-- <div class="row-fluid"> -->
	      {% for entry in entries %}
		  	<div class="span1">
				<p><a class="thumbnail" href="#detail_modal" ref="popover" data-content="{{entry.name}}" data-toggle="modal" id="{{entry.app_id}}"><img src='{{entry.image}}'/></a></p>
			</div>	      

		  {% empty %}
			  <p>No new app under your selected condition today, please remember to check it here tomorrow.</p>
		  {% endfor %}
	    
	<!-- </div> -->
</div>

<script>	
		$(".thumbnail").click(function()
		{			
			$("#app_detail").html("<img valign='center' src='/static/img/loading.gif'/>");
			$("#myModalLabel").html('App Detail');
			
			$.ajax({
				url:"/get_app_detail/"+$(this).attr("id"),
			}).done(function(data)
			{
				$("#app_detail").html(data);				
			});
		});
		
		$(".thumbnail").css('cursor', 'pointer');

		$(".thumbnail").popover({trigger:"hover"});

	</script>