<div class="row">
	<!-- <div class="row-fluid"> -->
	      {% for entry in entries %}
		  	<div class="span1.1">
		  		<div class="card" id="{{entry.app_id}}">
		  			<div class = "row">
		  				<div class="span1">
		  					<a href="#detail_modal"><img src='{{entry.image}}'/></a>
		  				</div>
		  				<div class="span1">
		  					<p>
		  						<p class="muted">{{entry.price}}</p>
		  						<small>{{entry.genre_name}}</small>
		  					</p>
		  				</div>
		  			</div>
					<p><strong>{{entry.name}}</strong></p>
					
				</div>
			</div>	      

		  {% empty %}
			  <p>No new app under your selected condition today, please remember to check it here tomorrow.</p>
		  {% endfor %}
	    
	<!-- </div> -->
</div>

<script>	
		$(".card").click(function()
		{			
			$('#detail_modal').modal();
			$("#app_detail").html("<img valign='center' src='/static/img/loading.gif'/>");
			$("#myModalLabel").html('App Detail');
			
			$.ajax({
				url:"/ios/appdetail/"+$(this).attr("id"),
			}).done(function(data)
			{
				$("#app_detail").html(data);				
			});
		});
		
		$(".card").css('cursor', 'pointer');

	</script>